---
layout: page

---


{% assign groups = site.members | sort: "group_rank" | map: "group" | uniq %}
{% for group in groups %}
<h2 class="mt-4 mb-3 border-b border-gray-200 pb-2">{{ group }}</h2>
<p>
    {% assign members = site.members | sort: "vis_order" | where: "group", group %}
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
    {% for member in members %}

    <div class="col mb-4">
        <div class="card h-100 hoverable">
            <a href="{{ member.url | relative_url }}">
                {% if member.profile.image %}
                {% assign profile_image_path = member.profile.image | prepend: 'assets/img/' %}
                {% if member.profile.image_circular %}
                {% assign profile_image_class = 'card-img-top img-fluid z-depth-1 rounded-circle mx-auto mt-3' %}
                {% else %}
                {% assign profile_image_class = 'card-img-top img-fluid z-depth-1 rounded mx-auto mt-3' %}
                {% endif %}
                {% capture sizes %}(min-width: {{ site.max_width }}) {{ site.max_width | minus: 30 | times: 0.25}}px,
                (min-width: 992px) 25vw, (min-width: 768px) 50vw, 95vw"{% endcapture %}
                {% include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes
                alt=member.profile.image style="max-width:80%; height:auto;" %}
                {% endif %}
            </a>
            <div class="card-body text-center">
                {% if member.profile.name %}
                <div class="more-info-name">{{ member.profile.name }}</div>
                {% endif %}

                {% if member.profile.role %}
                <div class="more-info-role">{{ member.profile.role }}</div>
                {% endif %}

                {% if member.profile.keywords %}
                {% assign keywords = member.profile.keywords | sort_natural %}
                <div class="more-info-keywords mt-4 mb-4 flex flex-wrap gap-1">
                    {% for kw in keywords %}
                    <span class="text-xs px-2 py-1 rounded">{{ kw | strip }}</span>
                    {% endfor %}
                </div>
                {% endif %}
                <div class="social-icons border-gray-200 pt-2 border-t gap-3 mt-4">
                    {% if member.profile.email %}
                    <a href="mailto:{{ member.profile.email }}" target="_blank" title="Email">
                        <i class="fas fa-envelope fa-lg"></i></a>
                    {% endif %}

                    {% if member.profile.linkedin %}
                    <a href="https://www.linkedin.com/in/{{ member.profile.linkedin }}" target="_blank"
                        title="LinkedIn">
                        <i class="fab fa-linkedin fa-lg"></i></a>
                    {% endif %}
                    {% if member.profile.orcid %}
                    <a href="https://orcid.org/{{ member.profile.orcid }}" target="_blank" title="ORCID">
                        <i class="ai ai-orcid fa-lg"></i></a>
                    {% endif %}
                    {% if member.profile.googlescholar %}
                    <a href="{{ member.profile.googlescholar }}" target="_blank" title="Google Scholar">
                        <i class="ai ai-google-scholar fa-lg"></i></a>
                    {% endif %}
                    {% if member.profile.researchgate %}
                    <a href="https://www.researchgate.net/profile/{{ member.profile.researchgate }}" target="_blank"
                        title="ResearchGate">
                        <i class="fab fa-researchgate fa-lg"></i></a>
                    {% endif %}
                    {% if member.profile.scopus %}
                    <a href="https://www.scopus.com/authid/detail.uri?authorId={{ member.profile.scopus }}"
                        target="_blank" title="Scopus">
                        <i class="fab fa-scopus fa-lg"></i></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


    {% endfor %}
</div>
</p>
{% endfor %}